<div style="background-color: black; color: white; font-style: italic;">
  <div style="color: white; font-size: larger; font: outline; padding: 1rem; text-align: center;">HOME PAGE</div>
  </div>
  <div class="container bg-dark border" style="text-align: center;">
    <div class="row p-1 bg-warning border" style="color: black; font-size: larger; text-align: center;"><u>You Can Get The Details By Different Forms As Given:</u></div>
    <div class="row p-1 border bg-dark">
      <div class="col-8 p-1 m-1 bg-light" style="font-size: large; text-align: left;">
        To get details of users having their <span><b><strong>"Birthday This Month"</strong></b></span> click Select -
        <button style="background-color: black; color: white;" routerLink='/condition'>SELECT</button>
      </div>
      <div class="col-8 p-1 m-1 bg-light" style="font-size: large; text-align: left;">To get details of users having their <span><b><strong>"Birthday Today"</strong></b></span> click Select -
       <button style="background-color: black; color: white;" routerLink='/condition1'>SELECT</button>
      </div>
      <div class="col-8 p-1 m-1 bg-light" style="font-size: large; text-align: left;">To get details of <span><b><strong>"All The Users"</strong></b></span> click Select -
        <button style="background-color: black; color: white;" routerLink='/detailslis'>SELECT</button>
      </div>
    </div>
  </div>
